<suite name="Insider UI Automation Suite" verbose="1" parallel="none">
    <listeners>
        <listener class-name="core.listeners.TestListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Bütün UI Testleri">
        <classes>
            <class name="tests.HomePageTests"/>
            <class name="tests.CareersTests"/>
            <class name="tests.QaJobsTests"/>
        </classes>
    </test>
</suite>
